.rodape__titulo{
    color: var(--preto);
    padding: 1.1rem 1.5rem;

}
hr{
    margin:0;
}
.lista-rodape{
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 3rem 0;
    }
    .rodape__titulo{
        font-size: 24px;
    }
    .lista-rodape{
        display: block;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
    }
    .lista-rodape__titulo{
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: var(--cinza-primario);
        font-size: 14px;
    }
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza-secundario);
        margin: 1.25rem 0;
        font-size: 14px;
        padding-left: 1rem;
        
    }
    
}
@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza-primario);
        padding-left: 1rem;
    }
}